*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
/* .main{ */
    /* min-height: 100vh; */
    /* background:gray; */
    /* background-size: cover; */
    /* background-position: center; */
/* } */
.main img{
    /* min-height: 100vh;  */
    min-width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.main h1{
    position: absolute;
    top:210px;
    left:440px;color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    /* background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(50px); 
    z-index: -1;
}
.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg, transparent,white,transparent);
    transition: .3s;
}
.header:hover::after{
    left: 100%;
}
.Logo{
font-size: 2rem;
color: white;
text-decoration: none;
font-weight: 700;
}
.navbar a{
    font-size: 1.5rem;
    color:  white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
.icon{
    position: absolute;
    right: 5%;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:992px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media(max-width:768px){
    .icon{
        display: inline-flex;

    }
    #check:checked~.icon #menu-icon{
        display: none;
    }
    .icon #close-icon{
        display: none;
    }
    #check:checked~.icon #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height:0;
        background: rgba(0, 0, 0, -1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, -1);
        overflow: hidden;
        transition: .3s ease;

    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .5s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
    .main img{
        width: 100%;
        height: 56vh;
    }
}
/* @media(max-width:768px){
    .main h1{
        left: 180px;
        margin-top: 30px;
        color: red;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
    }
}
@media(max-width:600px){
    .main h1{
        left: 100px;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
    }
} */
/* @media(max-width:687px){
    .main h1{
        left: 150px;
    }
} */



/* .visit{
    width: 100%;
    height: 250px;
    border: 1px solid black;
} */
.visit button{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: orange;
    margin-top: 70px;
    margin-left: 450px;
}
.visit button a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
@media(max-width:768px){
    .visit button{
        margin-left: 200px;
        margin-top: 60px;
    }
}
@media(max-width:700px){
    .visit button{
        margin-left: 130px;
        margin-top: 60px;
    }
}
@media(max-width:600px){
    .visit button{
        margin-left: 100px;
        margin-top: 60px;
    }
}
@media(max-width:575px){
    .visit button{
        margin-left: 100px;
    }
}
@media(max-width:518px){
    .visit button{
        margin-left: 50px;
    }
}
@media(max-width:463px){
    .visit button{
        margin-left: 100px;
        width: 250px;
        height: 35px;
    }
    .visit button a{
        font-size: 15px;
    }
}
@media(max-width:405px){
    .visit button{
        margin-left: 60px;
        width: 250px;
        height: 35px;
    }
    .visit button a{
        font-size: 15px;
    }
}
@media(max-width:345px){
    .visit button{
        margin-left: 30px;
        width: 250px;
        height: 35px;
    }
    .visit button a{
        font-size: 15px;
    }
}
@media(max-width:284px){
    .visit button{
        margin-left: 10px;
        width: 250px;
        height: 35px;
    }
    .visit button a{
        font-size: 15px;
    }
}
@media(max-width:264px){
    .visit button{
        margin-left: 15px;
        width: 200px;
        height: 35px;
    }
    .visit button a{
        font-size: 12px;
    }
}
@media(max-width:211px){
    .visit button{
        margin-left: 30px;
        width: 140px;
        height: 35px;
    }
    .visit button a{
        font-size: 10px;
    }
}

.second{
    display: flex;
}

.second-img img{
    width: 500px;
    height: 600px;
    margin-top: 150px;
    margin-left: 100px;
}
.second-text h1{
    margin-left: 150px;
    margin-top: 140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    font-weight: 500;
}
.second-text p{
    margin-left: 145px;
    margin-top: 20px;
    margin-right: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

@media(max-width:768px){
    .second{
        flex-direction: column;
    }

.second-img img{
    margin-left: 140px;
    height: 500px;
    margin-top: 50px;
}
}
@media(max-width:768px){
    .second-text h1{
        margin-left: 260px;
        margin-top: 10px;
    }
    .second-text p{
        margin-left: 140px;
        margin-right: 100px;
        margin-top: 10px;
        font-size: 12px;
    }
}

@media(max-width:700px){
.second-img img{
    margin-left: 100px;
    height: 400px;
    margin-top: 50px;
}
}
@media(max-width:700px){
    .second-text h1{
        margin-left: 200px;
        margin-top: 10px;
    }
    .second-text p{
        margin-left: 120px;
        margin-right: 100px;
        margin-top: 10px;
        font-size: 12px;
    }
}
@media(max-width:600px){
    .second-img img{
        margin-left: 50px;
        height: 300px;
        margin-top: 50px;
    }
    }
    @media(max-width:600px){
        .second-text h1{
            margin-left: 150px;
            margin-top: 10px;
        }
        .second-text p{
            margin-left: 70px;
            margin-right: 50px;
            margin-top: 10px;
            font-size: 12px;
        }
    }
    
.third{
    display: flex;
}
.third_text h1{
    margin-left: 100px;
    margin-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size:30px;
}
.third_text p{
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 150px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.third_img img{
    width: 500px;
    height: 600px;
    margin-top: 150px;
    margin-right: 50px;
}
@media(max-width:768px){
    .third{
        flex-direction: column;
    }
    .third_img img{
        margin-left: 140px;
        height: 500px;
        margin-top: 50px;
    }
    .third_text h1{
        margin-left: 260px;
        margin-top:50px;
    }
    .third_text p{
        margin-left: 140px;
        margin-right: 100px;
        margin-top: 10px;
        font-size: 12px;
    }
}
@media(max-width:700px){
    .third_img img{
        margin-left: 100px;
        height: 400px;
        margin-top: 50px;
    }
    .third_text h1{
        margin-left: 200px;
    }
    .third_text p{
        margin-left: 120px;
        margin-right: 100px;
        margin-top: 10px;
        font-size: 12px;
    }
}
@media(max-width:600px){
    .third_img img{
        margin-left: 50px;
        height: 300px;
        margin-top: 50px; 
    }
    .third_text h1{
        margin-left: 150px;
    }
    .third_text p{
        margin-left: 70px;
        margin-right: 50px;
        margin-top: 10px;
        font-size: 12px; 
    }
}

.black{
    width: 85%;
    height: 400px;
    background-color: rgb(151, 99, 99);
    margin: 100px;
    border-radius: 250px;
}
.black h1{
    text-align: center;
    padding-top: 20px;
    color: white;
}
.black p{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    font-size: 15px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
@media(max-width:768px){
    .black{
        margin-left: 50px;
        height: 500px;
    }
    .black h1{
        font-size: 30px;
        font-weight: 300;
    }
    .black p{
        font-size:13px;
    }
}
@media(max-width:700px){
    .black{
        width: 70%;
        height:400px;
        margin-left: 100px;
    }
    .black p{
        font-size: 10.5px;
        padding-top: 15px;
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width:600px){
    .black{
        width: 70%;
        height:400px;
        margin-left: 80px;
    }
    .black h1{
        font-size: 20px;
    }
    .black p{
        font-size: 9.5px;
    }
}
.heading h1{
    margin-left: 100px;
    margin-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size:30px;
}
@media(max-width:768px){
    .heading h1{
        margin-left: 260px;
        margin-top:50px;
    }
}
@media(max-width:700px){
    .heading h1{
        margin-left: 200px;
    }
}
@media(max-width:600px){
    .heading h1{
        margin-left: 150px;
    }
}
.cards{
    display: flex;
}
.card img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-top: 50px;
    margin-left: 100px;
}
.card img:hover{
    transition: .3s;
    transform: scale(1.2);
    cursor: pointer;
}
@media(max-width:768px){
   .cards{
    flex-direction: column;
   } 
   .card{
    margin-left: 135px;
   }
}
@media(max-width:700px){
    .card{
        margin-left: 80px;
    }
}
@media(max-width:600px){
    .card{
        margin-left: 30px;
    }
} 

.footer{
    width: 100%;
    height: 400px;
    background-color: rgb(44, 41, 41);
    margin-top: 130px;
    display: flex;
}
.ul1 ul li{
    font-size:23px;
    color: white;
    padding-top: 130px;
    padding-left: 100px;
    cursor: pointer;
}
#number{
    font-size:23px;
    color: white;
    padding-top: 20px;
    padding-left: 100px;
    cursor: pointer;
}
.ul2 ul li{
    font-size:23px;
    padding-top: 40px;
    padding-left: 170px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.ul2 ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.ul3 ul li{
    font-size: 23px;
    padding-top: 40px;
    padding-left: 200px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.ul3 ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.ul4 ul li{
    font-size:23px;
    color: white;
    padding-top: 130px;
    padding-left: 130px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}
#number1{
    font-size:23px;
    color: white;
    padding-top: 20px;
    padding-left: 130px;
    cursor: pointer;
}
@media(max-width:768px){
    .footer{
        width: 760px;
        height:400px;
    }
    #number{
        font-size: 18px;
        padding-left: 50px;
    }
    .ul1 ul li{
        font-size: 18px;
        padding-left: 50px;
    }
    .ul2 ul li{
        font-size: 18px;
        padding-left: 50px;
    }
    .ul3 ul li{
        font-size: 18px;
        padding-left: 50px;
    }
    #number1{
        font-size: 18px;
        padding-left: 50px;
    }
    .ul4 ul li{
        font-size: 18px;
        padding-left: 50px;
    }
}
@media(max-width:600px){
    .footer{
        width: 600px;
        height:300px;
    }
    #number{
        font-size: 14px;
        padding-left: 40px;
    }
    .ul1 ul li{
        font-size: 14px;
        padding-left: 40px;
    }
    .ul2 ul li{
        font-size: 14px;
        padding-left: 40px;
    }
    .ul3 ul li{
        font-size: 14px;
        padding-left: 40px;
    }
    #number1{
        font-size: 14px;
        padding-left: 40px;
    }
    .ul4 ul li{
        font-size: 14px;
        padding-left: 40px;
    }
}